<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="static/reg.css">
    <meta charset="UTF-8">
    <title>Input Form</title>
</head>
<body>
    <form action="/submit" method="post">
        <label for="name">Enter your name:</label><br>
        <input type="text" id="name" name="name"><br>

        <label for="city">Enter your city:</label><br>
        <input type="text" id="city" name="city"><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
